<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log in customer</title>
    <h1>Log in</h1>
    <div class="form">
        <form action="#" th:action="@{/customer/log-in}" th:object="${customer}" method="post">
            <label>Username:</label> <input type="text" th:field="*{username}"/>
            <br>
            <label>Password:</label> <input type="password" th:field="*{password}"/>
            <br>
            <p></p>
            <p><input type="submit" value="Log in"/>
                <input type="reset" value="Reset"/></p>
            <div th:if="${loginStatus == 'false'}">
                <p>Invalid customer ID or PASSWORD. Please try again.</p>
            </div>
        </form>
    </div>
</head>
<body>

</body>
</html>